@model Portfolio.ViewModels.NoteViewModel

@foreach (var note in Model.Notes)
{
    <section class="note">

        <p id="title">
            @note.Title
        </p>

        <p id="textArea">
            @note.Objectives
        </p>

        <nav>
            <a href="link" id="edit">Edit</a>
            <a href="@Url.Action("Delete", "Notes", new { noteId = note.NoteId })" id="delete">Delete</a>
        </nav>
        <p id="date">
            @note.Date
        </p>
    </section>
}
 <section class="note">
    @using (Html.BeginForm("AddNote", "Notes", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
        @Html.AntiForgeryToken()

        <p id="title">
            @Html.TextBoxFor(i => i.Note.Title, new { @id = "titleLabel" })
        </p>

        <p id="textArea">
            @Html.TextAreaFor(i => i.Note.Objectives, new { @id = "textAreaLabel" })
        </p>

        <nav>
            <input type="submit" id="submit" value="Add" />
        </nav>
     }
</section>