@model IEnumerable<Portfolio.Models.Menu>

<nav class="menu-nav">
    @foreach (var position in Model)
    {
        if (String.IsNullOrEmpty(position.Reference) == true)
        {
            <a href="@Url.Action(position.ControllerAction, position.ControllerName)" target="@position.Blank">
                @position.Name
            </a>
        }
        else
        {
            <a href="@position.Reference" target="@position.Blank">
                @position.Name
            </a>
        }
    }
</nav>