
@{
    ViewBag.Title = "Portfolio D. G.";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.Partial("_SliderPartial")

<div class="content">
    <div id="gray">
        <h2 class="headers">What is this?</h2>
        <hr />
        <p class="text">
            Hello, <br />
            i'm Darek, a student of University in Gdansk. I've created this app to represent myself,
            i think this is one of the best ways to practice my skills.
            Whats skills you ask? I think beeing a good programmer is not only to be a good programmer
            technically. That concerns every type of human/worker. You need to find yourself.
            Find yourself means finding your bad and proper sides and to know them. If you want to introduce yourself with
            this topic i'm sending you
            <a href="@Url.Action("SlightEdge", "SubWebs")" class="link">Here</a>
            <br />
        </p>
    </div>

    <div id="gray">
        <h2 class="headers">MyApp</h2>
        <hr />
        <p class="text">
            In this app
            i will try to made my own notes and objectives:
        </p>

        <ul>
            <li>
                About projects that i'm actually doing
            </li>
            <li>
                About things that i've done for today even the smallest
            </li>
            <li>
                Other everyday stuff like: physical training, do the washing etc.
            </li>
        </ul>

        <p class="text">
            You will ask why ?
            Beacuse all that kind of activities is a small victory. I want to see how many things i've done overtime to get my point of self-development.
            <br />
            "The choices you make today won’t affect where you are in life in the short-term, but they determine where you end up in life in the long-term" - "The Slide Edge" Jeff Olson
            <br />
            <a href="@Url.Action("SlightEdge", "SubWebs")">ReadMore</a>
            <br />
        </p>

    </div>

    <div id="gray">
        <h2 class="headers">Small step into greatness</h2>
        <hr />
        <p class="text">
            Simple daily decisions made consistently over time is the only way to achieve anything meaningful. Things that are easy to do are equally easy not to do. Your daily decisions won’t affect where you are tomorrow or next week, but they will determine where you’ll be a few years from now.
            <div>
                <img src="@Url.Content("~/Content/Images/img2.png")" style="width: 100%; height: 600px;" />
            </div>
            <br />
        </p>
    </div>
</div>

@section Scripts
{
    <script src="@Url.Content("~/Content/slider.js")"></script>
}

